<div>
    <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="value" is-open="opened" ng-required="true" close-text="Close" ng-click="onOpenClick()" />
    <div ng-if="meridians">
        <select nya-bs-select ng-model="hour" ng-options="hour.value as hour.formatted for hour in meridian_hours">
            <option value="">Select one</option>
        </select>
    </div>
    <div ng-if="!meridians">
        <select nya-bs-select ng-model="hour" ng-options="hour.value as hour.formatted for hour in hours">
            <option value="">Select one</option>
        </select>
        <ol class="nya-bs-select" ng-model="myModel">
            <li nya-bs-option="hour in hours">
                <a>
            {{hour.formatted}}
        </a>
            </li>
        </ol>
    </div>
    <select nya-bs-select ng-model="minute" ng-options="minute.value as minute.formatted for minute in minutes">
        <option value="">Select one</option>
    </select>
    <div ng-if="!meridians">
        <label>
            <input type="radio" ng-model="pm" ng-value="false"> AM
        </label>
        <label>
            <input type="radio" ng-model="pm" ng-value="true"> PM
        </label>
    </div>
</div>
