<div>
    <input type="text" uib-datepicker-popup="yyyy-MM-dd" ng-model="value" is-open="opened" show-weeks="false"
           ng-required="true" close-text="Close" ng-click="onOpenClick()" />
    <div ng-if="meridians">
        <ol class="nya-bs-select" ng-model="$parent.hour">
            <li nya-bs-option="h in meridian_hours" value="h.value">
                <a>
              {{h.formatted}}
                </a>
            </li>
        </ol>
    </div>
    <div ng-if="!meridians">
        <ol class="nya-bs-select" ng-model="$parent.hour">
            <li nya-bs-option="h in hours" value="h.value">
                <a>
              {{h.formatted}}
                </a>
            </li>
        </ol>
    </div>
    <ol class="nya-bs-select" ng-model="minute">
        <li nya-bs-option="m in minutes" value="m.value">
            <a>
              {{m.formatted}}
                </a>
        </li>
    </ol>
    <div ng-if="!meridians">
        <label>
            <input type="radio" ng-model="pm" ng-value="false"> AM
        </label>
        <label>
            <input type="radio" ng-model="pm" ng-value="true"> PM
        </label>
    </div>
</div>
